.papelPicadoContainer{
    position: absolute;
    top: 2.5%;
    left: 38%;
    transform: translate(-40%,-50%);
    background-image: url(../../public/papel_picado.png);
    width: 69vw;
    height: 4rem;
    background-size: contain;
    background-repeat: repeat-x; 
}

.papelPicado{
    height: auto;
    width: 10rem;
    padding: 0;
}

.navbarNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
}

.navbarNavLink{
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    margin-left: 2rem;
}

.navbarRightLinks {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}  

.logoImg{
    width: auto;
    height: 3rem;
}

.hamburgerMenu{
    display: none;
}

@media (max-width: 1024px) {
    .papelPicadoContainer{
        position: absolute;
        top: 2.5%;
        left: 35%;
        transform: translate(-45%,-60%);
        background-image: url(../../public/papel_picado.png);
        width: 27vw;
        height: 4rem;
        background-size: contain;
        background-repeat: repeat-x;  
    }
}

@media (max-width: 768px) {
    .papelPicadoContainer{
        transform: translate(-50%,-50%);
        top: 3%;
        left: 50%;
        width: 60vw;
        height: 4rem;
        background-size: contain;
        background-repeat: repeat-x; 
    }
    .navbarRightLinks {
        display: none;
        flex-direction: column;
        gap: 0;
        width: 100%;
        font-size: 0.75rem;
    }
    .hamburgerMenu {
        display: block;
        font-size: 2rem;
        color: #fff;
    }
    .showMenu {
        display: flex;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        z-index: 10;
    }
    .showMenu a {
        color: #fff;
        padding: 1rem;
        display: block;
        text-align: center;
        border-bottom: 1px solid white;
    }
}

@media (max-width: 540px) {
    .papelPicadoContainer{
        position: absolute;
        top: 5%;
        left: 60%;
        transform: translate(-50%,-50%);
        background-image: url(../../public/papel_picado.png);
        width: 40vw;
        height: 4rem;
        background-size: contain;
        background-repeat: no-repeat;  
    }
    .navbarNavLink {
        text-align: center;
        border-top: 1px solid white;
    }
}