.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.welcomeMessage {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.loginButton, .logoutButton {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover, .logoutButton:hover {
    background-color: #357ae8;
}

.logoutButton {
    background-color: #d9534f;
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.logoutButton:hover {
    background-color: #c9302c;
}

.cartContainer {
    margin-top: 20px;
}

.cartTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.cartList {
    list-style-type: none;
    padding-left: 0;
}

.cartItem {
    margin-bottom: 5px;
    font-size: 18px;
}

.itemName {
    font-weight: bold;
    margin-right: 5px;
}

.itemPrice {
    margin-left: 5px;
}
