/* shoppingCart.module.css */

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 1rem;
    width: 100%;
}

.cartItem {
    display: grid;
    place-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productImage {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.itemTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
}

.itemDetail {
    font-style: italic;
    color: #777;
    margin-bottom: 0.5rem;
}

.emptyCartMessage {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}
.orderButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orderButton:hover {
    background-color: #e04113;
}